*{
  font-family: "Open Sans", sans-serif;   
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
   
}
.logo h2{
    font-size: 45px;
    font-weight: 200px;
    color: #FFFFFF;
}

.gradient-text{
  background: linear-gradient(20deg,#F7E93F ,#ff00cc,#9900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.nav-item{
    display: flex;
   list-style: none;
    gap: 30px;
    
}
.nav-link{
    text-decoration: none;
    color: #FFFFFF;
}
.btn{
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 25px;
    border: none;
    background: linear-gradient(90deg,#F7E93F,#ff00cc,#9900ff);
    border-radius: 20px;
    cursor: pointer;
}

#banner{
    
    background-image: url(../assets/hero-bg.png);
      justify-content: center;    
}

 .container{
        position: relative; 
         width: 200px;
        }
        .hero-circle{
            width: 50%;
        }
        .microphone{
            width: 100px;
            position: absolute;
            top: 50px;
            left: 70px;
        }
        .p{
            width: 40px;
            position: absolute;
            top: 30px;
            left: 200px;
            background-color: #00ff88;
            border-radius: 10px;
            font-size: 12px;      
             padding: 3px 1px;    
           }
           .container, .hero-circle, .microphone, .p{
            align-items: center;
           }
            
        .wave{
         text-align: center;
         color: #FFFFFF;
        }
        .text{
            text-align: center;
            color: #FFFFFF;
        }
        .buton{
            font-size: 16px;
            color: #FFFFFF;
            padding: 10px 25px;
            border: none;
            background: linear-gradient(90deg,#F7E93F,#ff00cc,#9900ff);
            border-radius: 20px;
        }
        .button{
            text-align: center;
            border-radius: 1px solid #00ff88;
            color: #00ff88;
        }
        .button-point{
           display: flex;
           justify-content: center;
        }
#podcast {
   background-color: #1A0B2E;
   color: #FFFFFF;
   text-align: center;
   padding: 50px 200px 452px;
   align-items: center;
} 
#podcast h3{ 
   font-size: 45px;
   font-weight: bold;
   margin-bottom: 20px;
  }
  #podcast p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    color: #FFFFFF;
  }
 
.menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 160px;

}
.menu h2{
    color:#00ff88;
font-size:36px;
margin-bottom:10px;
}
.menu p{
    font-size:12px;
color:#aaa;

}
.techwave{
    
    padding: 80px 0;
    background: #1A0B2E;
    color: #FFFFFF;
}

.title{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
}

.container{
    width:100%;
    margin:80px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3;
    gap:25px;
}

.card{
    background: #230E3D;
    padding:30px;
    border-radius:12px;
    text-align:center;
   /* box-shadow:0 5px 15px rgba(0,0,0,0.1);*/
   
}

.card img{
    width:40px;
    margin-bottom:15px;
}

.card h3{
    margin-bottom:10px;
}
.card p{
    color:#bdbdbd;
    font-size:14px;
}
.big{
    grid-row: span 2;
    grid-column: span 1;
}

.wide{
    grid-column: span 2;
    grid-row: span 1;
}
/*host*/
.host{
   font-size: bold;
   color: #FFFFFF;
 background-color: #1A0B2E;
}
.host h2{
    text-align: center;
}
.host-box{
 display:flex;
 align-items: center;
justify-content:center;
gap:30px;
background:#1f0a3a;
padding:30px;
border-radius:10px;
margin-top:40px;
margin-left: 80px;
margin-right: 80px;

}
.icon{
    align-items: center;
}
#footer{
    padding: 120px;
text-align:center;
background-image: url(../assets/footer-bg.png);

}

.footer-item{
    justify-content: space-between;
    gap: 20px;

}
.footer-link{
   align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}
#footer, pragraph p{
    text-align: center;
    color: #FFFFFF;
}


@media screen and (min-width: 576px) and(max-width: 992px){
    #navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
    flex-wrap:wrap;
}

.nav-item{
    display:flex;
    list-style:none;
    gap:20px;
}
.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}
}
@media (max-width:992px){
.container{
    grid-template-columns: repeat(2,1fr);
}
}
@media (max-width:600px){
.container{
    grid-template-columns:1fr;
}
}
@media (max-width:768px){
.menu{
    flex-direction:column;
    align-items:center;
}
}
@media (max-width:768px){
.host-box{
    flex-direction:column;
    text-align:center;
}
}
@media (max-width:768px){

.logo h2{
font-size:30px;
}

.title{
font-size:30px;
}

#podcast h3{
font-size:30px;
}

} 